body{
    text-align: center;
}

#all{
    /*position: absolute;*/
    /*width: 85%;*/
    margin-top: 20%;
    text-align: center;
    height: 50%;

}

.categories{
    width: 40%;
    display: inline-block;
    position: relative;
}

.categories:hover {
    width: 45%;
}

.categories img {
    width: 40%;
}

span {
    width: 100%;
    color: #afb1b3;
    font-size: 23px;
    text-align: center;
    display: inline-block;
}
